<footer class="bg-light py-3 position-absolute bottom-0 w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; $FOOTER_YEAR</p>
        </div>
        <div class="col-md-6 text-end">
          <p>Mohammad Adel Murtada</p>
        </div>
      </div>
    </div>
    </footer>
</body>
$SCRIPT_LINK
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>