<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$TAB_TITLE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
</head>
<body>
    <header id="nav">
        <div class="navigation-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="/" style="margin-left: 20px;margin-right: 20px;">Mandatory 1</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="margin-left:10px;margin-right:10px">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left:10px;margin-right:10px">
                <ul class="navbar-nav m-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="javascriptDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      JavaScript
                    </a>
                    <div class="dropdown-menu" aria-labelledby="javascriptDropdown">
                      <a class="dropdown-item" href="variables">Variables, Data Types</a>
                      <a class="dropdown-item" href="clean-code">Code Conventions / Clean Code</a>
                      <a class="dropdown-item" href="variables-functions">Variables and Functions</a>
                      <a class="dropdown-item" href="callback-functions">Callback Functions</a>
                      <a class="dropdown-item" href="loops">Loops and Loop Methods</a>
                      <a class="dropdown-item" href="time">Time</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nodejsDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Node.js
                    </a>
                    <div class="dropdown-menu" aria-labelledby="nodejsDropdown">
                      <a class="dropdown-item" href="nodejs">Intro to Node.js</a>
                      <a class="dropdown-item" href="express">Express</a>
                      <a class="dropdown-item" href="html-express">HTML and Express</a>
                      <a class="dropdown-item" href="package-json">package.json</a>
                      <a class="dropdown-item" href="server-rendering">SSR (Server-side rendering)</a>
                      <a class="dropdown-item" href="type-module">CommonJS vs type module in Nodejs</a>
                      <a class="dropdown-item" href="client-server-redirection">Client-side redirection vs server-side redirection</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="rest-api" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Rest API
                    </a>
                    <div class="dropdown-menu" aria-labelledby="rest-api">
                    <a class="dropdown-item" href="api-convention">API convention</a>
                      <a class="dropdown-item" href="crud">CRUD</a>
                      <a class="dropdown-item" href="fetch">Fetch</a>
                      <a class="dropdown-item" href="get-request">GET Request (Parameter and Query)</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="deployment">Deployment</a>
                  </li>
                  <li class="nav-item" id="admin-panel-navbar">
                  </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item" id="logged-in-user">
                  </li>
                  <li class="nav-item" id="list-login-btn">
                  </li>
                </ul>
              </div>
    </header>