.toc {
    position: fixed;
    top: 70px;
    left: 0;
    width: 200px;
    margin-left: 2%;
    overflow-y: auto;
    height: 90%;
    padding-bottom: 1%;
    border-right: 1px solid #ccc;
    background-color: #fff;
    
}
.inner-ul {
    list-style-type: none;
    padding-left: 20px;
}