<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Table of contents</h4>
      </div>
      <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
        <div id="table-of-contents">
          <h5>JavaScript</h5>
          <ul>
            <li><a href="/javascript/variables">Variables & Data Types</a></li>
            <ul>
              <li><a href="/javascript/variables#variables-data-types-introduction">Introduction</a></li>
              <li><a href="/javascript/variables#variables-data-types-var-let-const-difference">Difference between var, let and const</a></li>
              <li><a href="/javascript/variables#variables-data-types-data-types">Data Types</a></li>
            </ul>
            <li><a href="/javascript/clean-code">Clean Code & Code Conventions</a></li>
            <ul>
              <li><a href="/javascript/clean-code#cleancode-codeconventions-introduction">Introduction</a></li>
              <li><a href="/javascript/clean-code#cleancode-codeconventions-naming-conventions">Naming conventions</a></li>
              <li><a href="/javascript/clean-code#cleancode-codeconventions-comments">Code comments</a></li>
              <li><a href="/javascript/clean-code#cleancode-codeconventions-functions">Functions</a></li>
            </ul>
            <li><a href="/javascript/callback-functions">Callback Functions & Functions</a></li>
            <ul>
              <li><a href="/javascript/callback-functions#functions-and-callback-functions-introduction">Introduction</a></li>
              <li><a href="/javascript/callback-functions#functions-and-callback-functions-functions">Functions</a></li>
              <ul>
                <li><a href="/javascript/callback-functions#functions-intro">Introduction</a></li>
                <li><a href="/javascript/callback-functions#functions-examples">Example</a></li>
              </ul>
              <li><a href="/javascript/callback-functions#functions-and-callback-functions-callback">Callback Functions</a></li>
              <ul>
                <li><a href="/javascript/callback-functions#functions-and-callback-functions-callback-examples">Examples</a></li>
              </ul>
            </ul>
            <li><a href="/javascript/loopsAndArray">Loops and Loop Methods</a></li>
            <ul>
              <li><a href="/javascript/loopsAndArray#loops-and-arrays-arrays">Arrays</a></li>
              <ul>
                <li><a href="/javascript/loopsAndArray#loops-and-arrays-arrays-how-to-enter">How to enter an array</a></li>
              </ul>
              <li><a href="/javascript/loopsAndArray#loops-and-arrays-loops">Loops</a></li>
              <ul>
                <li><a href="/javascript/loopsAndArray#loops-and-arrays-loops-for-loops">For Loop</a></li>
                <li><a href="/javascript/loopsAndArray#loops-and-arrays-loops-while-loops">While Loop</a></li>
                <li><a href="/javascript/loopsAndArray#loops-and-arrays-loops-do-while-loop">Do While Loop</a></li>
              </ul>
            </ul>
            <li><a href="/javascript/time">Time</a></li>
            <ul>
              <li><a href="/javascript/time#time-date-object">Date object</a></li>
              <li><a href="/javascript/time#time-date-methods">Date methods</a></li>
            </ul>
          </ul>
          <h3>Node.js</h3>
          <ul>
            <li><a href="/nodejs/express-nodemon">Express & Nodemon</a></li>
            <ul>
              <li><a href="/nodejs/express-nodemon#express-nodemon-express">Express</a></li>
              <ul>
                <li><a href="/nodejs/express-nodemon#express-installation">Installation</a></li>
                <li><a href="/nodejs/express-nodemon#express-example">Example</a></li>
                <li><a href="/nodejs/express-nodemon#express-response-request">Response & Request</a></li>
                <li><a href="/nodejs/express-nodemon#express-routing">Routing</a></li>
              </ul>
              <li><a href="/nodejs/express-nodemon#express-and-nodemon-nodemon">Nodemon</a></li>
              <ul>
                <li><a href="/nodejs/express-nodemon#nodemon-installation">Installation</a></li>
                <li><a href="/nodejs/express-nodemon#nodemon-example">Example</a></li>
              </ul>
            </ul>
            <li><a href="/nodejs/package-json">package.json</a></li>
            <ul>
              <li><a href="/nodejs/package-json#packagejson-introduction">Introduction</a></li>
              <li><a href="/nodejs/package-json#packagejson-example">Example</a></li>
            </ul>
            <li><a href="/nodejs/server-rendering">SSR (Server-side rendering)</a></li>
            <ul>
              <li><a href="/nodejs/server-rendering#server-rendering-introduction">Introduction</a></li>
              <li><a href="/nodejs/server-rendering#server-rendering-client-side">Client Side</a></li>
              <li><a href="/nodejs/server-rendering#server-rendering-server-side">Server Side</a></li>
            </ul>
            <li><a href="/nodejs/type-module">CommonJS vs type module in Nodejs</a></li>
            <ul>
              <li><a href="/nodejs/type-module#common-vs-type-introduction">Introduction</a></li>
              <li><a href="/nodejs/type-module#common-vs-type-commonJS">CommonJS</a></li>
              <li><a href="/nodejs/type-module#common-vs-type-typemodule">Type Module</a></li>
            </ul>
            <li><a href="/nodejs/client-server-redirection">Client-side redirection vs server-side redirection</a></li>
            <ul>
              <li><a href="/nodejs/client-server-redirection#client-server-redirection-introduction">Introduction</a></li>
              <li><a href="/nodejs/client-server-redirection#client-server-redirection-client">Client redirection</a></li>
              <li><a href="/nodejs/client-server-redirection#client-server-redirection-server">Server redirection</a></li>
            </ul>
          </ul>
          <h3>Rest API</h3>
          <ul>
            <li><a href="/restapi/api-convention">API convention</a></li>
            <ul>
              <li><a href="/restapi/api-convention#api-convention-introduction">Introduction</a></li>
              <li><a href="/restapi/api-convention#api-convention-http-methods">HTTP Methods</a></li>
              <li><a href="/restapi/api-convention#api-convention-resource-naming">Resource Naming</a></li>
              <li><a href="/restapi/api-convention#api-convention-response-format">Response Format</a></li>
              <li><a href="/restapi/api-convention#api-convention-versioning">Versioning</a></li>
              <li><a href="/restapi/api-convention#api-convention-conclusion">Conclusion</a></li>
            </ul>
            <li><a href="/restapi/crud">CRUD</a></li>
            <ul>
              <li><a href="/restapi/crud#crud-introduction">Introduction</a></li>
              <li><a href="/restapi/crud#crud-create">Create</a></li>
              <li><a href="/restapi/crud#crud-read">Read</a></li>
              <li><a href="/restapi/crud#crud-update">Update</a></li>
              <li><a href="/restapi/crud#crud-delete">Delete</a></li>
            </ul>
            <li><a href="/restapi/fetch">Fetch</a></li>
            <ul>
              <li><a href="/restapi/fetch#fetch-introduction">Introduction</a></li>
              <li><a href="/restapi/fetch#fetch-get">GET</a></li>
              <li><a href="/restapi/fetch#fetch-send-data">Send Data</a></li>
            </ul>
            <li><a href="/restapi/get-request">GET Request (Path and Query)</a></li>
            <ul>
              <li><a href="/restapi/get-request#get-request-anatomy-of-an-url">Anatomy of an URL</a></li>
              <li><a href="/restapi/get-request#get-request-request-parameters">Query Parameters</a></li>
              <li><a href="/restapi/get-request#get-request-path-params">Path Parameters</a></li>
            </ul>
            <li>
              <a href="/git">Git & Git Commands</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>